head {
    color: white;
    text-align: center;
}
body {
    font-family: Georgia;
    font-size: 18px;
    color:  white;
    text-align: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url('https://i.pinimg.com/originals/1f/93/da/1f93da4e4723e17e39b1a5730a8debd2.jpg');
}
table{
    background-color: rgba(20, 20, 20, 0.3);
    margin: 20px auto;
    text-align: left;
    color: white;
    border: 1px solid white; 
   
}
tr {
    background-color: rgba(20, 20, 20, 0.2);
    margin: 20px auto;
    text-align: left;
    color: white;
    border: 1px solid white; 
   
}
th, td{
    border: none;
    height: 30px;
    padding: 2px;
}

form {
    background-color: rgba(20, 20, 20, 0.4);
    width: 40%;
    margin: 10px auto;
    padding: 20px; 
    border: 1px solid white; 
    border-radius: 20px;

}
.input-group {
    margin: 10px 0px 5px 0px;
}
.input-group label {
    display: block;
    text-align: left;
    margin: 2px;
    color:  white;
}
.input-group input {
    height: 30px;
    width: 100%;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
}
.btn {
    margin: 5px auto;
    padding: 10px 15px;
    font-size: 15px;
    color: white;
    background-color: rgba(20, 20, 20, 0.4);
    border: 1px solid white;
    border-radius: 5px;
}
.edit_btn {
    text-decoration: none;
    padding: 2px 5px;
    color: white;
    background-color: rgba(20, 20, 20, 0.4);
    border: 1px solid white;
    border-radius: 5px;
}

.del_btn {
    text-decoration: none;
    padding: 2px 5px; 
    color: white;
    background-color: rgba(20, 20, 20, 0.4);
    border: 1px solid white;
    border-radius: 5px;
}
.detail_btn {
    text-decoration: none;
    padding: 2px 5px; 
    color: white;
    background-color: rgba(20, 20, 20, 0.4);
    border: 1px solid white;
    border-radius: 5px;
}
.detail {
    margin: 30px 300px;
    padding: 20px; 
    border: 1px solid white; 
    border-radius: 20px; 
    background-color: rgba(20, 20, 20, 0.4);
}

